body { 
	padding:0px 0px 30px 0px; margin:0px; 
	font-family:Tahoma, Geneva, sans-serif; font-size:20px; color:#333;
}
nav {
	padding:10px 0px 5px 0px; margin:0px; width:100%; 
	background-color:#eee; 
	display:block; border-bottom:thin #666 dashed;
}
nav img {
	padding-left:10px;
}
h2 {
	font-size:24px;	display:inline-block; margin-bottom:0px;
}
section {
	padding:10px; 
}
footer {
	position:fixed; bottom:0px; padding:10px 10px 5px 10px;
	margin:0px; width:100%; background-color:#eee; 
	border-top:thin #666 dashed; height:30px; color:#777;
	font-size:18px; white-space: nowrap; text-align:center;	
	overflow:hidden;
}
li {
	list-style-type:square;
}
a {
	color:darkorange;
}

